body {
  font-family: sans-serif;
  margin: 0; padding: 0;
}
header, footer {
  background: #333; color: #fff;
  padding: 1rem; text-align: center;
}
main {
  padding: 2rem;
}
.form-add, .user-list, .form-inline {
  margin-bottom: 1rem;
}
.form-inline {
  display: inline-block;
  margin-right: 0.5rem;
}
.error {
  color: red;
}